body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a.linkCheckout {
  text-decoration: none !important;
  color: #1878b9 !important;
}


a {
  text-decoration: none !important;
}


.product-thumbnail {
  border-radius: 20px;
  border: 1px rgba(0, 0, 0, 0.1) solid !important;
}

.text-topic {
  font-size: 34px;
}

.text-medium {
  font-size: 21px;
}

.text-small {
  font-size: 16px;
}

.text-mini {
  font-size: 13px;
}

.btn {
  --bs-btn-font-size: 16px !important;
}

.dropdown-toggle::after {
  content: none !important;
}

.btn-light.menu {
  --bs-btn-hover-bg: none !important;
  --bs-btn-hover-border-color: white !important;
  --bs-btn-active-bg: none !important;
  --bs-btn-active-border-color: white !important;
}

.btn-light.button {
  --bs-btn-active-bg: none !important;
  --bs-btn-active-border-color: white !important;
  --bs-btn-hover-bg: none !important;
}


.dropdown-menu {
  --bs-dropdown-link-active-bg: none !important;
  --bs-dropdown-border-radius: none !important;
  --bs-dropdown-link-hover-bg: none !important;
  --bs-dropdown-border-color: white !important;
}

.modal {
  --bs-modal-border-radius: none !important;
}

.dropdown.show::before {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(100, 100, 100, 0.5);
  content: "";
  z-index: 100;
}

.btn-outline-dark.btnContinueShop {
  --bs-btn-hover-color: #00b495 !important;
  --bs-btn-hover-bg: white !important;
  --bs-btn-hover-border-color: #00b495 !important;
  --bs-btn-active-bg: none !important;
  --bs-btn-active-border-color: none !important;
  --bs-btn-padding-x: 1.8rem !important;
  --bs-btn-padding-y: 0.7rem !important;
}

.carousel-indicators [data-bs-target] {
  box-sizing: border-box !important;
}


.colorCheckout {
  color: #1878b9;
}

.btn.colorBtnCheckout {
  --bs-btn-bg: #1878b9;
  --bs-btn-border-color: #1878b9;
  --bs-btn-hover-bg: #124c74;
  --bs-btn-hover-border-color: #124c74;
  --bs-btn-active-bg: #1878b9;
  --bs-btn-active-border-color: #1878b9;
  --bs-btn-disabled-bg: #1878b9;
  --bs-btn-disabled-border-color: #1878b9;
  --bs-btn-padding-x: 1.6rem !important;
  --bs-btn-padding-y: 1.2rem !important;
  font-size: 16px;
  /* background-color: #1878b9; */
}

.btn.colorBtnApply {
  --bs-btn-padding-x: 1.3rem !important;
  --bs-btn-padding-y: 0.6rem !important;

  --bs-btn-disabled-bg: #646464;
  --bs-btn-disabled-border-color: #646464;

}

.form-control.checkout {
  line-height: 2;
}

.form-select.checkout {
  line-height: 2;
}

/* .changeBg {
  background-color: rgba(236, 0, 0, 0.2);
  z-index: 999999999999;
} */

/* backgroundDropdown {
  background-color: rgba(2,2,2,.2);
  z-index: 99;
} */